.about-me-container {
  background-color: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 4rem 2rem 2rem 2rem;

  p {
    font-style: italic;
  }
}

@media (min-width: 768px) {
  .about-me-container {
    p {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .about-me-container {
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.25rem;
    }
  }
}
