.primary-title {
  font-size: 3rem;
  font-weight: 800;
}

.secondary-title {
  font-size: 2rem;
  font-weight: 600;
}

.description-highlight {
  font-family: "Merriweather", "Georigia", "Serif";
  font-size: 0.85rem;
  line-height: 225%;
}
