.intro-header {
  height: 100vh;
  h1 {
    opacity: 0;
    margin: 0 auto;
    transform: translateY(-50px);
    transition: 2s all;
  }

  p {
    opacity: 0;
    font-style: italic;
    transform: translateY(-50px);
    transition: 2s all;
  }

  .active-effect {
    opacity: 1;
    transform: translateY(0);
  }
}
